.faq {
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    align-items: center;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h9 {
    font-size: 1.8rem;
}

.answer {
    max-height: 0;
    overflow: hidden;
}

.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
}

.faq.active .answer {
    max-height: 100px;
}

